<!DOCTYPE html>
<html ng-app="ToDoList">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="angular-local-storage.min.js"></script>
    <script src="controller.js"></script>
</head>
<body ng-controller="ToDoController">
    
    <ul>
        <li ng-repeat="actividad in todo">
            {{actividad.descripcion}} - {{actividad.fecha}}
        </li>
    </ul>
    <form ng-submit="addAct()">
        <input type="text" ng-model="newAct.descripcion">
        <input type="datetime-local" ng-model="newAct.fecha">
        <input type="submit" value="Guardar actividad">
    </form>
   

</body>
</html>